apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}-svc
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}
    managed-by: deploy-api
spec:
  type: ClusterIP
  selector:
    app: {{.Name}}
  ports:
  - port: {{.ServicePort}}
    targetPort: {{.ContainerPort}}
    protocol: TCP
    name: http
